html,
body,
header,
#intro {
    height: 100%;
}

html {
    scroll-behavior: smooth;
  }

#intro {
    background: url("https://i.ibb.co/RyKh8Qk/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-nav-collapse {
    background-color: #24355C;
  }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }

.img-activity {
    height: 230px;
    width: 350px;
    object-fit: cover;
}

.img-latest-activity {
    width: 350px; 
    height: 240px; 
    object-fit: cover;
}

.img-next-activity {
    height: 400px; 
    object-fit: cover;
}

#loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-bottom: 16px solid blue;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    visibility:hidden;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #re {
      visibility: hidden;
  }